/* symbols */
@font-face {
  font-family: 'Saudi Riyal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("NotoRiyal.woff2") format('woff2');
  unicode-range: U+fdfc;
}
