/* symbols */
@font-face {
  font-family: 'NotoRiyal';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("../Saudi-Riyal-font/NotoRiyal.woff2") format('woff2');
  unicode-range: U+fdfc;
}
